<!-- contactus.html -->
{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
  Contact US
{% endblock %}

{% block content %}

<div>
    <h2 class="shadow bg-white rounded" align="center" style="color: teal">Our Location</h2>
 </div>

<hr>

 <div class="container-fluid">
      <div class="row">
        <div class="col">
        	<h3 align="center" style="color: teal; margin-top:5%">ข้อมูลติดต่อ</h3>
        	<hr>
        	<div style="margin-left: 5%">
	        	<h4 style="color: gold">BookStore DB</h4>
	        	<h5 style="color: grey">Veerachot Rosjanasangtham</h5>
				<h5 style="color: grey"><i class="fas fa-phone" style="color: black"></i>: 0639788</h5>
				<h5 style="color: grey"><i class="far fa-envelope" style="color: black"></i> : veerachot.ro.64@ubu.ac.th</h5>
			</div>
		</div>
		<div class="col">
			<h3 align="center" style="color: teal; margin-top:5%">FOLLOW US</h3>
				<hr>
				<div style="margin-left: 10%">
				<div class="row" style="margin-left: 15%">
					<h5 style="margin-right: 2%; margin-left: 5%"><a href="https://www.facebook.com/avhiaryal54" target="_blank"><i class="fab fa-facebook-f "></i></a></h5>
					<h5 style="margin-left: 14%"><a href="#"><i class="fab fa-instagram" style="color: red"></i></a></h5>
	               	<h5 style="margin-left: 11%"><a href="#"><i class="fab fa-twitter"></i></a></h5>
	               	<h5 style="margin-left: 10%"><a href=" http://www.youtube.com/c/AVHIARYAL" target="_blank"><i class="fab fa-youtube" style="color: red"></i></a></h5>
               	</div>
	               	<div class="row" style="margin-left: 15%">
					<h5 style="margin-right: 2%">Facebook</h5>
					<h5 style="margin-right: 2%">Instagram</h5>
					<h5 style="margin-right: 2%">Twitter</h5>
					<h5 style="margin-right: 2%">Youtube</h5>
               </div>  
               </div> 
            </div>		
		</div>
	</div>
</div>




{% endblock %}